.for-PrivacyBg {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0% 6%;
  padding-top: 5%;
}
.termsScroll {
  height: 60vh !important;
  overflow: hidden;
  overflow-y: scroll;
}
.privacy-heading h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
}
.privacy-heading span {
  color: #d8aaf8;
}
.mainPrivacy-txt p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
}
.mainPrivacy-txt span {
  color: #d8aaf8;
}

.defination-part h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #d8aaf8;
}
.defination-part h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #d8aaf8;
}
.defination-part p {
  font-style: normal;
  font-weight: 300;
  font-size: 0.9rem;
}
.defination-part span {
  color: #d8aaf8;

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}

.circleSpan {
  font-weight: 300;
  font-size: 1.1rem;
}
.defination-part li {
  font-weight: 400;
  font-size: 0.9rem;
}
.defination-part ul {
  list-style: none; /* Remove default bullets */
}
.defination-part ul li::before {
  content: "\2022";
  color: #d8aaf8;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: normal;
  display: inline-block;
  width: 1em;
}

.for-list-dot {
  list-style-type: circle !important;
}
